@import "part/mixins";
@import "part/fx-utils";
@import "part/fonts";
@import "part/variables";
@import "part/base";
@import "part/layout";
@import "part/modules";
@import "part/global-style";
@import "part/custom-bootstrap";
@import "part/custom-plugins";

@font-face {
    font-family: 'Brokeren';
    src: url(../fonts/BROKEREN.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Medium';
    src: url(../fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Regular';
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #132A2A;
    overflow-x: hidden;
}  
.hidden{   
    visibility: hidden;
  }
#section1{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    @media (min-width:1024px) {
        background-position: top;
        height: auto;
    }
    #nav1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 8px 16px;
        @media (min-width:375px) {
            padding: 16px;
        }
        @media (min-width:768px) {
            padding: 16px 32px;
        }
        @media (min-width:1024px) {
            padding: 16px 72px;
        }
        .logo{
            width: 10%;
            @media (min-width:1024px) {
                width: 5%;
            }
            img{
                width: 100%;
            }
        }
        .link{
            display: none;
            justify-content: space-between;
            font-size: 16pt;
            font-family: 'Brokeren', sans-serif;
            z-index: 12;
            @media (min-width:1024px) {
                display: flex;
                width: 80%;
            }
            a{
                text-decoration: none;
                color: #00BCB2;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: #e66629;
                }
            }
        }

        .join-us{
            display: none;
            background-color: #00BCB2;
            border: none;
            border-radius: 10px;
            font-size: 16pt;
            padding: 8px 24px;
            color: white;
            font-family: 'Brokeren', sans-serif;
            @media (min-width:1024px) {
                display: initial;
            }
        }
        .button{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            @media (min-width:1024px) {
                display: none;
            }
            #join{
                background-color: #00BCB2;
                border: none;
                border-radius: 5px;
                font-size: 10pt;
                padding: 4px;
                color: white;
                font-family: 'Brokeren', sans-serif;
            }
            #menu{
                width: 20%;
                border: none;
                background: none;
                img{
                    width: 100%;
                }
            }
        }
    }
    #nav2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 15;
        @media (min-width:375px) {
            padding: 16px;
        }
        @media (min-width:768px) {
            padding: 16px 32px;
        }
        @media (min-width:1024px) {
            padding: 16px 100px;
        }
        button{
            height: 40px;
            background-color: unset;
            border: none;
            cursor: pointer;
            &:first-child{
                border: 1px #fff solid;
                border-radius: 5px;
                padding: 2px 4px;
                font-size: 16pt;
                margin-right: 16px;
            }
            &:last-child{
                font-size: 28pt;
            }
            a{
                color: #fff;
            }
        }
    }
    #menu2{
        display: none;
        justify-content: space-between;
        font-size: 16pt;
        font-family: 'Brokeren', sans-serif;
        z-index: 12;
        flex-direction: column;
        position: fixed;
        top: 64px;
        right: 100px;
        background-color: rgba($color: #000000, $alpha: 0.8);
        border: 1px #fff solid;
        padding: 16px;
        border-radius: 5px;
        a{
            text-decoration: none;
            text-align: right;
            color: #00BCB2;
            text-transform: uppercase;
            cursor: pointer;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0px;
            }
            &:hover{
                color: #e66629;
            }
        }
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        transition: transform 1s;
        overflow: hidden;
        @media (min-width:1024px) {
            margin-top: 32px;
            margin-bottom: -10px;
        }
        img{
            width: 75%;
            @media (min-width:375px) {
                width: 100%;
            }
            @media (min-width:768px) {
                width: 60%;
            }
            @media (min-width:1024px) {
                width: 50%;
            }
        }
    }
    .rebooting{
        width: 100%;
        height: 600px;
        padding: 0px 16px;
        z-index: 8;
        position: relative;
        transition: all 1s;
        background: url(../images/Bumi.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: saturate(20%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: all;
        transition-delay: 1s;
        // .earth{
        //     width: 60%;
        //     position: relative;
        //     left: 50%;
        //     transform: translateX(-50%);
            
        //     @media (min-width:375px) {
        //         width: 85%;
        //     }
        //     @media (min-width:768px) {
        //         width: 40%;
        //     }
        //     img{
        //         width: 100%;
        //     }
        // }
        .reboot-bar{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            padding: 2px;
            display: flex;
            justify-content: center;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #e66629;
            // background: linear-gradient(to right, rgba(#000, 0), rgba(#e66629, 1));
            font-family: 'Brokeren', sans-serif;
            color: white;
            @media (min-width:375px) {
                width: 50%;
            }
            @media (min-width:768px) {
                width: 30%;
            }
            @media (min-width:1024px) {
                font-size: 24pt;
                width: 0;
                padding: 0;
                overflow: hidden;
                border: none;
            }
        }
        .loading-bar {
            display: flex;
            width: 100%;
            height: auto;
            max-width: 320px;
            box-shadow: inset 0px 0px 0px 1px #fff;
            border-radius: 5px;
            overflow: hidden;
            padding: 4px;
            transition-property: opacity;
            transition-delay: 1.5s;
            transition-duration: 0.2s;
            .progress-bar {
                position: relative;
                display: flex;
                height: 100%;
                width: 0;
                background: #e66629;
                border-radius: 5px;
                transition: width 1.5s;
                a{
                    position: relative;
                    left: 160px;
                    transform: translateX(-50%);
                    color: white;
                    font-family: 'Brokeren', sans-serif;
                    @media (min-width:1024px) {
                        font-size: 24pt;
                    }
                }
            }
        }
        
    }
    .presentation{
        width: 100vw;
        height: 800px;
        background: url(../images/presentation.png) no-repeat;
        background-size: 100%;
        z-index: 8;
        @media (max-width:1023px) {
            position: absolute;
            bottom: 0;
        }
        @media (min-width:768px) {
            display: flex;
            justify-content: center;
        }
        @media (min-width:1024px) {
            position: absolute;
            bottom: 0;
            transform: scale(3,7);
            opacity: 0;
            transition: all 1s;
            transition-delay: 2s;
        }
        img{
            width: 100%;
            @media (min-width:768px) {
                width: 90%;
            }
            @media (min-width:1024px) {
                width: 100%;
            }
        }
    }

}  

#section2{
    background: linear-gradient(to top, rgba(#102422,1) 50%,rgba(#000,1));
    padding:  24px 16px;
    height: 200px;
    width: 100vw;
    z-index: 10;
    transition: transform .4s;
    transition-duration: 1s;
    @media (min-width:768px) {
        height: 700px;
        padding:  24px 32px;
        background: linear-gradient(to top, rgba(#102422,1) 20%,rgba(#000,1));
    }
    @media (min-width:1024px) {
        background: linear-gradient(to top, rgba(#102422,1) 1%,rgba(#020808,1));
        padding:  32px 72px;
        position: relative;
    }
    .heading{
        font-size: 14pt;
        text-align: center;
        margin: auto;
        color: #fff;
        margin-bottom: 16px;
        font-family: 'Brokeren', sans-serif;
        @media (min-width:768px) {
            font-size: 32pt;
        }
    }
    .description{
        font-family: 'Raleway Regular', sans-serif;
        p{
            text-align: center;
            font-size: 8pt;
            color: #fff;
            @media (min-width:768px) {
                font-size: 24pt;
            }
            &:first-child{
                margin-bottom: 16px;
            }
            &:last-child{
                @media (min-width:1024px) {
                    display: none;
                }
            }
        }
    }
}

#section3{
    background: url(../images/background2.png);
    background-size: 100%;
    height: 900px;
    width: 100vw;
    z-index: 10;
    transition: all .4s;
    opacity: 1;
    @media (min-width:768px) {
        height: 1800px;
    }
    @media (min-width:1024px) {
        height: 3100px;
        position: relative;
    }
    .text1{
        width: 40%;
        color: white;
        font-size: 24px;
        position: relative;
        left: 75%;
        top: 15%;
        transform: translate(-50%, -50%);
        font-family: 'Raleway Medium', sans-serif;
        @media (max-width:1023px) {
            display: none;
        }
    }
    .text2{
        width: 40%;
        color: white;
        font-size: 24px;
        position: relative;
        left: 75%;
        top: 30%;
        transform: translate(-50%, -50%);
        font-family: 'Raleway Medium', sans-serif;
        @media (max-width:1023px) {
            display: none;
        }
    }
    .about{
        display: none;
        @media (min-width:1024px) {
            display: initial;
            width: 50%;
            position: absolute;
            left: 50%;
            top: 47%;
            transform: translate(-50%, -50%);
        }
        .heading{
            font-size: 50px;
            font-family: 'Brokeren', sans-serif;
            text-align: center;
        }
        .description{
            font-family: 'Raleway Regular', sans-serif;
            font-size: 25px;
            text-align: center;
            margin-top: 32px;
        }
    }
    .our-games{
        position: relative;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        opacity: 0;
        transition: all 0.5s;
        @media (min-width:1024px) {
            justify-content: space-around;
            width: 100%;
            top: 50%;
            height: 600px;
        }
        button{
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: unset;
            @media (min-width:1024px) {
                width: 15%;
            }
            &:nth-child(odd){
                margin-right: 16px;
                @media (min-width:1024px) {
                    margin-right: 0;
                }
            }
            &:nth-child(n+3){
                margin-top: 16px;
                @media (min-width:1024px) {
                    margin-top: 0;
                }
            }
            a{
                color: white;
                font-family: 'Brokeren', sans-serif;
                @media (min-width:768px) {
                    font-size: 16pt;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}
#section3 .our-games.muncul{
    opacity: 1;
}
#partnership{
    padding: 0px 16px;
    transition: all .4s;
    @media (min-width:1024px) {
        padding: 0px 72px;
    }
    hr{
        border-color: #52F5F2;
        width: 100%;
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
            margin-top: 24px;
        }
    }
    .partnership-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width:1024px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }
        .item{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (min-width:1024px) {
                width: 32%;
            }
            &:first-child{
                display: none;
                @media (min-width:1024px) {
                    display: initial;
                }
                .title{
                    text-align: left;
                }
                a{
                    color: white;
                    font-size: 24px;
                    font-family: 'Raleway Medium', sans-serif;
                }
            }
            &:nth-child(3){
                margin-top: 24px;
                @media (min-width:768px) {
                    margin-top: 64px;
                }
                @media (min-width:1024px) {
                    margin-top: 0;
                    width: 30%;
                }
                .partner-logo{
                    width: 100%;
                    justify-content: center;
                }
            }
            .title{
                width: 100%;
                text-align: center;
                margin-bottom: 24px;
                color: #32D9D3;
                font-family: 'Brokeren', sans-serif;
                @media (min-width:768px) {
                    font-size: 24pt;
                }
                @media (min-width:1024px) {
                    margin-bottom: 24px;
                }
            }
            .partner-logo{
                width: 60%;
                display: flex;
                justify-content: space-between;
                .logo{
                    width: 40%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    text-align: center;
    padding: 16px;
    color: white;
    height: 100px;
    font-size: 14pt;
    font-family: 'Raleway Medium', sans-serif;
    @media (min-width:768px) {
        height: 180px;
        font-size: 16pt;
    }
    @media (min-width:1024px) {
        height: auto;
    }
}
.bottom-nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #18292A;
    position: fixed;
    bottom: 0;
    padding: 8px 16px;
    z-index: 11;
    @media (min-width:768px) {
        padding: 16px;
    }
    @media (min-width:1024px) {
        display: none;
    }
    button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: unset;
        padding: 0;
        color: #22B573;
        width: 24%;
        font-size: 8pt;
        font-family: 'Brokeren', sans-serif;
        @media (min-width:768px) {
            font-size: 14pt;
        }
        img{
            width: 18px;
            margin-bottom: 8px;
            @media (min-width:768px) {
                width: 36px;
                margin-bottom: 16px;
            }
        }
    }
}

a{
    text-decoration: none;
}
.back-to-top {
    background-color: rgba($color: black, $alpha: 0.6);
    bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24pt;
    height: 40px;
    position: fixed;
    right: 72px;
    text-align: center;
    width: 50px;
    z-index: 12;
    transition-duration: 300ms;
    transition-delay: 50ms;
    @media (max-width:1023px) {
        display: none;
    }
    i{
        color: white;
    }
}

.back-to-top.is-hidden {
    display: none;   
}